<footer class="site-footer">
    <div class="container">
        <div class="site-footer__grid">
            <div class="site-footer__column">
                <h4>Hostinger</h4>
                <ul>
                    <li><a href="{{ '/pages/about' | relative_url }}">About Us</a></li>
                    <li><a href="{{ '/pages/pricing' | relative_url }}">Pricing</a></li>
                    <li><a href="https://hostinger.it?REFERRALCODE=RABBITWORLD">Get Started</a></li>
                </ul>
            </div>
            
            <div class="site-footer__column">
                <h4>Services</h4>
                <ul>
                    <li><a href="{{ '/pages/horizon' | relative_url }}">Horizon AI Website Builder</a></li>
                    <li><a href="https://hostinger.it?REFERRALCODE=RABBITWORLD">Web Hosting</a></li>
                    <li><a href="https://hostinger.it?REFERRALCODE=RABBITWORLD">WordPress Hosting</a></li>
                    <li><a href="https://hostinger.it?REFERRALCODE=RABBITWORLD">VPS Hosting</a></li>
                </ul>
            </div>
            
            <div class="site-footer__column">
                <h4>Resources</h4>
                <ul>
                    <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
                    <li><a href="https://hostinger.it?REFERRALCODE=RABBITWORLD">Knowledge Base</a></li>
                    <li><a href="https://hostinger.it?REFERRALCODE=RABBITWORLD">Tutorials</a></li>
                </ul>
            </div>
            
            <div class="site-footer__column">
                <h4>Contact</h4>
                <ul>
                    <li><a href="https://hostinger.it?REFERRALCODE=RABBITWORLD">Support</a></li>
                    <li><a href="https://hostinger.it?REFERRALCODE=RABBITWORLD">Live Chat</a></li>
                </ul>
                <p>24/7 Customer Support</p>
            </div>
        </div>
        
        <div class="site-footer__bottom">
            <div class="copyright">
                &copy; {% assign date_format = site.minima.date_format | default: "%Y" %}{{ 'now' | date: date_format }} Hostinger. All rights reserved.
            </div>
            
            <div class="social">
                <a href="https://facebook.com/hostinger" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/hostinger" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/hostinger" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://linkedin.com/company/hostinger-international" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>